* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

/* NAVBAR */
#navbarContainer {
	background-color: #1f1f1f;

	height: 4vh;
	width: 100%;
}

#navbarContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#navbarLeft {
	margin-right: 15px;
}
#navbarLeft > a,
#navbarRight > a {
	color: #1db954;
	text-decoration: "none";
	margin: 5px;
}
/* NAVBAR */

/* Project Card */
#projectCardContainer {
	display: flex;
	align-items: center;
}
#deleteProject {
	margin-left: 10px;
}
#deleteProject:hover {
	color: red;
	cursor: pointer;
}

/* Project Card */
