* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}
html {
	width: 100%;
	height: 100%;
	background-color: #444141;
}
body {
	color: #ffff;
	width: 100%;
}

/* NAVBAR */
#navbarContainer {
	background-color: #1f1f1f;

	height: 4vh;
	width: 100%;
}

#navbarContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#navbarLeft {
	margin-right: 15px;
}
#navbarLeft > a,
#navbarRight > a {
	color: #1db954;
	text-decoration: "none";
	margin: 5px;
}
/* NAVBAR */

/* Main Display */
#projectsAndTodosDisplay {
	display: flex;
	margin-top: 3%;
	height: 100%;
	flex-grow: 1;
}

/* Main Display */

/* Projects Container */

#projectsContainer {
	width: 30%;
	margin-left: 5%;
	background-color: #363636;
}
#projectList {
	margin-top: 10px;
}

/* Projects Container */

/* Project Card */
#projectCardContainer {
	display: flex;
	align-items: center;
}
#deleteProject {
	margin-left: 10px;
}
#deleteProject:hover {
	color: red;
	cursor: pointer;
}

/* Project Card */

/* Todos Container */

#todosContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	background-color: #272626;
	margin-right: 5%;
}
.todoCardContainer {
	width: 100%;
}
.mainTodoView {
	display: flex;
}
.expandedTodoView {
}
#todoListTable {
	width: 100%;
}

/* Todos Container */
